build/
vendor/
coverage/
.phpunit.cache/
.php-cs-fixer.cache
composer.lock
.env
.env.local
.env.*.local
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
.idea/
*.log
*.cache 